/*****     MAIN     STYLE       *****/

body {
	font-family: "Yeseva One Regular";
}

a:focus, a:hover {
	text-decoration: none;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.row {
	margin-right: 0px;
    margin-left: 0px;
}

ul {
	list-style: none;
}


/*****     FIN    MAIN     STYLE       *****/

/***** DEBUT HEADER   ****/

#header {
	background: url(images/headerBackground.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	color: #fff;
	height: 100%;
}

#navigationBar .navbar {
	width: 100%;
	padding: 0;
}

.navbar-toggler span {
	color: #fff;
    cursor: pointer;
}

#navigation a {
	font-family: "Gentium Book Basic Bold";
	font-size: 18px;
	color: #fff;
	padding-top: 0;
}

#navigationBar .navbar-light #navigation .navbar-nav .active > .nav-link, 
#navigationBar #navigation a:hover, #navigation a:focus {
	border-top: 3px solid #fff;
	color: #fff;
	margin-top: 0;
    padding-top: 0;
}

#socialMedia {
	padding: 1.7rem 1em 0 0;
 }

#socialMedia a {
	color: #dab33e;
}

#headerText {
    min-height: 260px;
    padding: 20px 0 10px;
    color: #fff;
}

#slidetext1 {
	font-size: 25px;
}

#headerText img {
    width: 250px;
}

#bookTableButton {
	font-family: "Lato Regular";
	font-size: 18px;
	padding: 1rem 3rem;
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
}

#setMenuButton {
	font-family: "Lato Regular";
	font-size: 18px;
	padding: 1rem 3rem;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.28);
	color: #fff;
}

@media screen and (min-width: 578px) {	
	#headerText img {
		width: auto;
	}
}

@media screen and (min-width: 578px) and (max-width: 767px) {	
	#headerText {
		min-height: 360px;
		padding: 20px 0 55px;
	}

	#slidetext1 {
		font-size: 46px;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {	
	#headerText {
		padding: 100px 0 78px;
	}

	#slidetext1 {
		font-size: 70px;
	}
}

@media screen and (min-width: 992px) {	
	#navigation a {
		font-size: 21px;
		padding-top: 1.5rem;
	}

	#navigationBar .navbar-light #navigation .navbar-nav .active > .nav-link, 
	#navigationBar #navigation a:hover, #navigation a:focus {
		margin-top: -1.4rem;
		padding-top: 2.7rem;
	}
	
	#headerText {
		min-height: 650px;
		padding: 130px 0 108px;
	}

	#slidetext1 {
		font-size: 90px;
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {	
	#navigation a {
		font-size: 18px;
	}
}

/****	FIN  HEADER   ****/

/***** DEBUT ABOUT   ****/



/****	FIN  ABOUT   ****/

/***** DEBUT INGREDIENTS   ****/



/****	FIN  INGREDIENTS   ****/

/***** DEBUT MENUS   ****/

#menus {
	background: url(images/menuBackground.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
	padding: 2rem 0;
    color: #c89f2d;
}

.menu h3 {
    font-size: 36px;
}

.menu .divider {
	width: 100%;
}

.menu .list-group-item {
	background-color: transparent;
    border: none;
    font-size: 21px;
}

.menu .list-group-item .badge {
	color: #c89f2d;
    font-size: 21px;
}

.menu .list-group-item img {
	width: 100%;
    min-height: 10px;
}

.menu .list-group-item .menuDescription {
	color: #4c4c4c;
    font-family: "Lato Regular";
    font-size: 16px;
	margin-top: 0.3rem;
}

@media screen and (min-width: 578px) {
	#menus {
		padding: 5rem 0;
	}
	
	.menu .divider {
		width: auto;
	}
}

/****	FIN  MENUS   ****/

/***** DEBUT REVIEWS   ****/

#reviews {
	background: url(images/reviewBackground.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	/* width: 100%;
	height: 100%; */
	padding: 2rem 0rem;
}

#guestReviews {
	background: url(images/reviewsBackground.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	padding: 1rem;
	color: #fff;
	margin: 0 auto;
}

#guestReviews h3 {
	font-size: 22px;
}

#guestReviews img {
		width: 100%;
}
	
blockquote p {
	font-family: "Gentium Book Basic Bold";
	font-size: 16px;
	color: #dde0df;
	line-height: 2;
}

blockquote p:before {
	content: "\201C";
    font-family: "Georgia Regular";
    color: #f2f4f4;
    font-size: 70px;
    float: left;
    margin-top: -50px;
    margin-left: -14px;
}

#author {
	font-family: "Lato Regular";
	font-size: 12px;
	color: #fff;
}

@media screen and (min-width: 578px) and (max-width: 767px) {
	blockquote p {
		font-size: 18px;
		line-height: 1.8;
	}
	
	blockquote p:before {
		font-size: 80px;
		margin-left: -20px;
	}
	
	#author {
		font-size: 14px;
	}
}

@media screen and (min-width: 578px) {
	#guestReviews {
		width: 77%;
		padding: 2rem;
	}
	
	#guestReviews h3 {
		font-size: 36px;
	}
	
	#guestReviews img {
		width: auto;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {	
	#reviews {
		padding: 5rem 0.5rem;
	}
	
	#guestReviews {
		padding: 3rem;
	}

	blockquote p {
		font-size: 20px;
	}
}

@media screen and (min-width: 768px) {
	blockquote p:before {
		font-size: 96px;
		margin-top: -60px;
		margin-left: -40px;
	}
	
	blockquote p {
		line-height: 2;
	}
	
	#author {
		font-size: 18px;
	}
}

@media screen and (min-width: 992px) {
	#reviews {
		padding: 5rem 8.5rem;
	}
	
	#guestReviews {
		padding: 5rem;
	}
	
	blockquote p {
		font-size: 25px;
		line-height: 2;
	}
}

/****	FIN  REVIEWS   ****/

/***** DEBUT RESERVATIONS   ****/



/****	FIN  RESERVATIONS   ****/

/***** DEBUT FOOTER   ****/

#footer {
	background-color: #191919;
	padding: 2rem 0;
	color: #fff;
	font-size: 16px;
}

.footerBlocks {
	padding: 0;
}

.footerBlocks h4 {
	font-size: 21px;
	color: #fefefe;
}

.footerBlocks p {
	font-family: "Open Sans Regular";
}

.footerBlocks p span {
	font-family: "Open Sans Bold";
}

.footerBlocks .locationText {
	font-family: "Open Sans Bold";
}

@media screen and (min-width: 578px) {
	#footer {
		padding: 4rem 0;
	}
}

/****	FIN  FOOTER   ****/
